@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Generation One Pokédex</h1>
    <p class="lead">This is a pokédex containing Pokémon and locations from generation one</p>
</div>

<div class="row">
    <div class="col-md-8" style=" padding-left: 10%; padding-right: 10%;">
        <h2>Getting started</h2>
        <p>
            Hello there! Welcome to the world of Pokémon! My name is Ryan and this is a
            pokedex that I have created! It is meent to help you navigate the Kanto Region
            and help you find the creatures that inhabite it known as Pokémon!
            First, you should log in or redgester if this is your first time on this
            website. Then you can go and learn about the Pokémon within the Kanto Region.
        </p>
    </div>
</div>